.container {
    padding: 15px;
    margin: 0px 60px;
}

#wrapper-header {
    display: flex;
}


#wrapper-header-image {
    flex: 30%;
    padding: 10px;
}

#wrapper-header-image img {
    height: auto;
    /* Tự động tính toán chiều cao để giữ tỷ lệ khung hình */
    max-width: 324.48px;
    /* Đặt chiều rộng tối đa của container */

}


#wrapper-menu {
    flex: 70%;
    /* Chiều rộng 70% */
    display: flex;
    justify-content: right;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

#wrapper-menu a {
    margin: 0 50px;
    padding: 10px;
    /* Khoảng cách giữa các nút */
}

#wrapper-menu a :hover {
    color: #FFBD00;
}

#wrapper-menu span {
    font-weight: 550;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 5px;
    display: inline-block;
    background-color: #050505;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

/* End css header */

#wrapper-content {
    margin-top: 20px;
    /* Gán một khoảng cách từ wrapper-header */
}

#wrapper-content {
    padding: 10px;
}

#wrapper-banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.text-box {
    color: #7a7a7a;
}


#section-1 {
    padding: 10px;
}


#section-1-title {
    color: #FFBD00;
    font-family: "Roboto", Sans-serif;
    font-size: 49px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
}

#section-2{
    max-width: 570px;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 65px;

}

#section-2 h5{
    font-size: 23px;
    font-weight: 550;
    margin-bottom: 20px;
}

#section-3{
    max-width: 759px;
    margin: 0 auto;
}

#section-3-title {
    color: #FFBD00;
    font-family: "Roboto", Sans-serif;
    font-size: 49px;
    font-weight: 600;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    padding: 10px;
}

#section-4{
    max-width: 570px;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
    padding: 10px;

}

#section-4 p{
    margin-bottom: 25px;
}

#section-5 {
    max-width: 380px;
    line-height: 2;
    margin: 0 auto;
    padding: 10px;
}

#section-5 h4{
    margin-bottom: 20px;
    font-size: 23px;
}

#section-5 p{
    margin-bottom: 20px;
}

#section-5 ul{
    margin: 15px 0 15px 20px;;
}


#section-6 {
    max-width: 380px;
    line-height: 2;
    padding: 10px;
}

#section-6 p{
    margin-bottom: 20px;
}

/* footer */


#wrapper-footer #footer-widgets {
    background-color: #222222;
    min-height: 50px;
    padding: 30px;

}


#footer-bottom {
    text-align: center;
    padding: 15px;
    color: #4a4a4a;

}


#footer-bottom p {
    font-size: 12px;
}

.up-to-line {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00000066;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;

}

.up-to-line:hover{
    background-color: rgba(0,0,0,.8);
}

.up-to-line:active {
    border: 1px solid #fff;

}

.up-to-line i {
    color: #fff;
    font-size: 15px;
    font-weight: 900;
}


.visible {
    opacity: 1;
}